:root {
  --theme-dark-color: #000;
  --theme-light-color: #fff;
  --theme-text-color: #a1a5b0;
  --theme-searchbar-color: #1c1c1e;
  --theme-header-color: #fff;
  --theme-input-color: #eee;
  --theme-left-color: #59f9b7;
  --theme-right-color: #66feea;
}

.app {
  background-color: var(--theme-dark-color);
  min-height: 100vh;
  min-width: 100vw;
  transition: 6ms ease;
}

.header {
  color: var(--theme-color);
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.logocontainer {
  margin: 10px;
}
.logo {
  width: 130px;
}
.searchbar {
  background-color: var(--theme-searchbar-color);
  height: 50px;
  display: flex;
  flex: 1;
  border-radius: 50px;
  align-items: center;
}

.searchicon {
  margin: 10px;
}

.searchinput {
  border: none;
  background-color: transparent;
  width: 100%;
  outline: none;
  color: var(--theme-input-color);
  font-size: 15px;
}
.headeritems {
  display: flex;
  text-align: center;
  color: var(--theme-text-color);
}
.headeritems > p {
  margin: 10px;
}

.actions {
  display: flex;
  align-items: center;
}
.actions > div {
  margin: 10px;
}
.themeswitch {
  display: flex;
  background-color: var(--theme-searchbar-color);
  border-radius: 50%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  cursor: pointer;
}
.themeswitch > img {
  height: 25px;
}
.gotin {
  margin-right: 10px;
  border: none;
  outline: none;
  padding: 15px 30px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 600;
  color: black;
  background: linear-gradient(
    to right,
    var(--theme-left-color),
    var(--theme-light-color)
  );
}
.collection {
  color: white;
  cursor: pointer;
  background-color: var(--theme-searchbar-color);
  border-radius: 4px;
  overflow: hidden;
  margin: 16px;
  width: 300px;
  height: 460px;
  transition: 5ms ease-in-out;
}
.collection:hover {
  transform: translateY(4px);
}
.collection > img {
  width: 100%;
  object-fit: contain;
}
.etherume {
  height: 23px;
  width: 15px;
  margin-right: 6px;
}
.price {
  display: flex;
  align-items: center;
}
.ethprice {
  margin-left: 5px;
  font-weight: 600;
  margin: 0;
}
.details {
  padding: 20px;
}
.name {
  font-size: 28px;
  font-weight: 800;
}
.id {
  color: var(--theme-text-color);
  font-size: 16px;
  margin-top: 18px;
  font-weight: 600;
}
.punks {
  display: flex;
  overflow: scroll;
  cursor: pointer;
  -ms-overflow-style: none;
}

.main {
  margin: 10px;
  border-bottom: 1px solid var(--theme-searchbar-color);
}
.container {
  display: flex;
}
.punk > img {
  width: 350px;
  border-radius: 4px;
}
.punkdetails {
  color: #fff;
  padding: 5px;
  margin-left: 20px;
}
.punkdetails > h1 {
  font-style: normal;
  letter-spacing: 0.229em;
  line-height: 0.8;
  font-weight: 900;
  font-size: 70px;
}

.pinks::-webkit-scroll-bar {
  display: none;
}

@media screen and (max-width: 730px) {
  .container {
    flex-direction: column;
  }
}

@media screen and (max-width: 630px) {
  .headeritems {
    display: none;
  }
}
@media screen and (max-width: 366px) {
  .headeritems {
    display: none;
  }
  .actions {
    display: none;
  }
  .searchbar {
    display: none;
  }
  .header {
    justify-content: center;
    align-items: center;
  }
  .punks {
    flex-direction: column;
  }
}
